<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
  <title>YoClothWala - eCommerce HTML5 Template.</title>
	<!-- Favicon -->
	<link rel="icon" type="/image/png" href="/images/favicon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

	<!-- StyleSheet -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Magnific Popup -->
  <link rel="stylesheet" href="/css/magnific-popup.min.css">
	<!-- Font Awesome -->
  <link rel="stylesheet" href="/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
  <link rel="stylesheet" href="/css/themify-icons.css">
	<!-- Nice Select CSS -->
  <link rel="stylesheet" href="/css/niceselect.css">
	<!-- Animate CSS -->
  <link rel="stylesheet" href="/css/animate.css">
	<!-- Flex Slider CSS -->
  <link rel="stylesheet" href="/css/flex-slider.min.css">
	<!-- Owl Carousel -->
  <link rel="stylesheet" href="/css/owl-carousel.css">
	<!-- Slicknav -->
  <link rel="stylesheet" href="/css/slicknav.min.css">

	<!-- YoClothWala StyleSheet -->
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>
<body class="js">

	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->


	<!-- Header -->
	<header class="header shop">
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="/"><img src="/images/logo.png" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form" action="/search" method="POST">
									<input type="text" placeholder="Search here..." name="input">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<form action="/search" method="POST">
									<input name="input" placeholder="Search Products Here....." type="search">
									<button class="btnn"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<% if(currentUser){ %>
							<div class="right-bar">
								<!-- Search Form -->
								<div class="sinlge-bar">
									<a href="/products" class="single-icon"><i class="ti-layout"></i></a>
								</div>
								<div class="sinlge-bar shopping">
									<a href="/cart" class="single-icon"><i class="ti-bag"></i> <span class="total-count"><%= currentUser.cart.length %></span></a>
									<!-- Shopping Item -->
									<div class="shopping-item">
										<div class="dropdown-cart-header">
											<span><%= currentUser.cart.length %> Items</span>
											<a href="/cart">View Cart</a>
										</div>
										<ul class="shopping-list">	
											<% for(var j = 0; j < currentUser.cart.length; j++){ %>
												<% for(var i = 0; i < product.length; i++){ %>
													<% if(product[i]._id == currentUser.cart[j]){ %>
														<li>
															<a href="/cart/remove/<%= product[i]._id %>" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
															<a class="cart-img" href="/product/<%= product[i]._id %>"><img src="<%= product[i].image %>" alt="#"></a>
															<h4><a href="/product/<%= product[i]._id %>"><%= product[i].title %></a></h4>
															<% if(product[i].price.search("₹") != -1){ %>
																<p class="quantity">1x - <span class="amount"><%= product[i].price %></span></p>
															<% } else { %>
																<p class="quantity">1x - <span class="amount">₹<%= product[i].price %></span></p>
															<% } %>
														</li>
													<% } %>
												<% } %>
											<% } %>
										</ul>
										<div class="bottom">	
											<a href="checkout.html" class="btn animate">Checkout</a>
										</div>
									</div>
									<!--/ End Shopping Item -->
						<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="col-lg-9 col-12">
					<div class="menu-area">
						<!-- Main Menu -->
                        <nav class="navbar navbar-expand-lg">
                            <div class="navbar-collapse">
                                <div class="nav-inner">
                                    <ul class="nav main-menu menu navbar-nav">
                                            <li class="active"><a href="/">Home</a></li>
                                            <li><a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
                                                <ul class="dropdown">
													<li><a href="/products">Most Loved<i class="ti-heart"></i></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Pages</a></li>
                                            <li><a href="/contact">Contact Us</a></li>
                                            <% if(currentUser){ %>
                                                <% if(currentUser.type == 0) { %>
                                                    <li><a href="/admin">Signed in as <%= currentUser.username %></a></li>
                                                <% } else { %>
                                                    <li><a href="/">Signed in as <%= currentUser.username %></a></li>
                                                <% } %>
                                                <li><a href="/logout">Logout</a></li>
                                            <% } else { %>
                                                <li><a href="/login">Login</a></li>
                                            <% } %>
                        </div>
                            </div>
                        </nav>
                        <!--/ End Main Menu -->
					</div>
				</div>
					</div>
				</div>
		<!--/ End Header Inner -->
	</header>
    <!--/ End Header -->